Yylex.java

*.class
*.zip

########### ARCHIVOS IGNORADOS DE ANALISIS LEXICO
Analisis_lexico/rmv/rmv-aux
Analisis_lexico/rmv/rmv-aux/*


########### ARCHIVOS IGNORADOS DE ANALISIS SINTACTICO
# Patrones no funciona?


