Yylex.java

*.class
*.java~
*.zip

########### ARCHIVOS IGNORADOS DE ANALISIS LEXICO
Analisis_lexico/cpv/soneto.txt

Analisis_lexico/rmv/rmv-aux
Analisis_lexico/rmv/rmv-aux/*


########### ARCHIVOS IGNORADOS DE ANALISIS SINTACTICO
# Patrones no funciona?


